:root {
  --primary: #feffdf;
  --secondary: #dde0ab;
  --third: #97cba9;
  --fourth: #668BA4;
}


body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 120%;
  background-color: var(--secondary);
  color: var(--fourth);
}

:root {
  --primary: #feffdf;
  --secondary: #dde0ab;
  --third: #97cba9;
  --fourth: #668BA4;
}

a {
  color: var(--fourth);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--third);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--fourth);
  border-radius: 5px;
  padding: 2px 10px;
  color: var(--primary);
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: var(--third);
}

.choices {
  display: flex;
  justify-content: center;
}
.choices button {
  display: block;
}

.question-title {
  display: flex;
  text-align: center;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ending {
  text-align: center;
}

.score-text {
  display: flex;
  justify-content: center;
}

input[type=text] {
  border: none;
  border-bottom: 3px solid rgb(102, 139, 164);
  background-color: var(--primary);
  color: var(--fourth);
}